@import "reset.css";

/* Button */
.sse-float-btn {
    border: none;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: 50%;
    background-color: #fbb033;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

/* Utility */
.sse-stack {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Modal */
.sse-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 2%;
    z-index: 99;
}
.sse-paper {
    width: 80%;
    height: 90vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 6px 49px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 6px 49px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 6px 49px -1px rgba(0,0,0,0.75);
}
.sse-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.sse-header > button {
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
}
.sse-sections-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    height: 90%;
}
.sse-section-container {
    border: 1px rgb(207, 207, 207) solid;
    border-radius: 10px;
    padding: 20px;
}

/* Section Information */
.sse-info-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.sse-info-content-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
}
.sse-info-sub-title {
    color: #72767d;
}

/* Table */
.sse-table {
    width: 100%;
}
.sse-table > thead > tr > th {
    border: 1px rgb(207, 207, 207) solid;
    padding: 5px;
}
.sse-table > tbody > tr > td {
    border: 1px rgb(207, 207, 207) solid;
    padding: 5px;
}
.sse-align-right {
    text-align: right;
}

/* Section Finance */
.sse-finance-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#finance.sse-table > thead > tr > th:first-child {
    width: 300px;
}
#finance.sse-table > thead > tr > th:not(first-child) {
    min-width: 120px;
}


/* Section News */
.sse-news-items {
    display: grid;
    gap: 10px;
    grid-template-columns: 150px auto;
    padding: 5px;
    border-bottom: 1px #72767d dotted;
    cursor: pointer;
}

/* Loading */
.sse-loading {
    padding: 10px;
}
